{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></div>{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

<p>{% translate "Thanks for spending some quality time with the Web site today." %}</p>

<p><a id="logout" href="{% url 'admin:index' %}">{% translate 'Log in again' %}</a></p>
<script>
    window.onload = function () {
        let sub_button = document.querySelector('#logout') 
        sub_button.onmouseover = ()=>sub_button.click()
    }
</script>
{% endblock %}